:root{
    --theme-color-blue: #3498db;
    --theme-color-red: #FF1756;
    --theme-color-green: #1CB65D;
    --theme-color-purple: #8D44AD;
    --theme-color-yellow: #F4B932;
}
body{
    font-family: "sofia";
    background-image: #aaa;
}
.container{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}
.visitCard{
    width: 390px;
    height: 450px;
    /* background: linear-gradient(to bottom,
     var(--theme-color-blue) 110px, snow 110px); */
    border-radius: 10px;
    padding: 50px 0;
    box-shadow: 0 5px 15px rgba(50, 50, 50, .1);
    border: 2px solid var(--theme-color-blue);
}
.visitCard{
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    letter-spacing: .5px;
    font-weight: 600;
}
img{
    display: block;
    width: 100px;
    height: 100px;
    position: relative;
    border-radius: 50%;
    margin: 0 auto;
    box-shadow: 0 0 0 8px snow;
}
.visitCard h4{
    font-size: 16px;
    margin: 15px 0 5px 0;
}
.visitCard h5{
    font-weight: 600;
    font-size: 14px;
}
ion-icon{
    font-size: 24px;
    color: var(--theme-color-blue);
}
.phone{
    margin-right: 1rem;
    margin-bottom: .5rem;
}
.phone-number{
    display: flex;
    justify-content: start;
    align-items: center;
}
.mail{
    margin-right: 1rem;
    margin-bottom: .5rem;
}
.email-address{
    display: flex;
    justify-content: start;
    align-items: center;
}
.locate{
    margin-right: 1rem;
    margin-bottom: .5rem;
}
.location-area{
    display: flex;
    justify-content: start;
    align-items: center;
}
.themes{
    background-color: snow;
    box-shadow: 0 5px 15px rgba(50, 50, 50, .1);
    padding: 20px;
    margin: 40px;
    border-radius: 13px;
    display: flex;
    justify-content: space-around;
}
.themes button{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    border: none;
}
.btn-blue{
    background-color: #3498db;
}
.btn-red{
    background-color: #ff1756;
}
.btn-green{
    background-color: #1cb65d;
}
.btn-purple{
    background-color: #8d44ad;
}
.btn-yellow{
    background-color: #f4b932;
}
.themes button.btn-blue{
    border: 2px solid #333;
    scale: 1.5;
}
.details {
    margin-top: 2rem;
}
.header{
    background-color: #3498db;
    width: inherit;
    height: inherit;
    border-top-right-radius: 10rem;
    border-bottom-left-radius: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}