:root{
    --theme-color: #8d44ad;
}
body{
    font-family: "sofia";
    background-image: linear-gradient(to right, rgba(106, 134, 93, .8), rgb(131, 124, 194));
}
.container{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}
.visitCard{
    width: 320px;
    height: 420px;
    background: linear-gradient(to bottom,
     var(--theme-color) 110px, snow 110px);
    border-radius: 10px;
    padding: 50px 0;
    box-shadow: 0 5px 15px rgba(50, 50, 50, .1);
}
.visitCard *{
    text-align: center;
    letter-spacing: .5px;
    font-weight: 600;
}
img{
    display: block;
    width: 100px;
    height: 100px;
    position: relative;
    border-radius: 50%;
    margin: 0 auto;
    box-shadow: 0 0 0 8px snow;
}
.visitCard h4{
    color: var(--theme-color);
    background-color: snow;
    font-size: 16px;
    margin: 15px 0 5px 0;
}
.visitCard h5{
    color: #555;
    font-weight: 600;
    font-size: 14px;
}
ion-icon{
    font-size: 24px;
    color: var(--theme-color);
}
.phone{
    padding: 10px;
    position: relative;
    top: 11px;
}
.mail{
    padding: 10px;
    position: relative;
    top: 17px;
}
.locate{
    padding: 10px;
    position: relative;
    top: 11px;
}
.themes{
    background-color: snow;
    box-shadow: 0 5px 15px rgba(50, 50, 50, .1);
    padding: 20px;
    margin: 40px;
    border-radius: 13px;
    display: flex;
    justify-content: space-around;
}
.themes button{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    border: none;
}
.btn-blue{
    background-color: #3498db;
}
.btn-red{
    background-color: #ff1756;
}
.btn-green{
    background-color: #1cb65d;
}
.btn-purple{
    background-color: #8d44ad;
}
.btn-yellow{
    background-color: #f4b932;
}